.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    .container {
        display: block;
        display: flex;
        align-items: center;
    
        input {
            margin-right: 17px;
        }
    }

    .taskAction {
        display: none;
    }

    &:hover {
        .taskAction {
            display: flex;
            font-size: 15px;
            
            button {
                border: none;
                background-color: transparent;
                cursor: pointer;
                color: #8F94A2;
                font-size: 14px;

                &:focus {
                    outline: none;
                }

                .edit {
                    margin-right: 10px;
                }
            }

            .deleteOne {
                .iconHover {
                    display: none;
                }

                &:hover {
                    .icon {
                        display: none;
                    }
                    .iconHover {
                        display: inline;
                    }
                }
            }

            .editOne {
                .iconHover {
                    display: none;
                }

                &:hover {
                    .icon {
                        display: none;
                    }
                    .iconHover {
                        display: inline;
                    }
                }
            }
        }
    }

}